<div class="edit">
  <div class="main">

    <%= simple_form_for(@part) do |f| %>
      <%= f.association :tag, as: :radio_buttons, label: "Opowiadanie" %>
      <%= f.association :post, as: :radio_buttons, label: "Rozdział" %>
        <%= f.button :submit, 'przypisz' %>
    <% end %>


  </div>

</div>