<div class="main">
  <div class="edit">
      <br><br>
      <%= simple_form_for(one_tag) do |f| %>

        <%= f.input :title, label: "Tytuł opowiadania:" %> <br>
        <%= f.input :image, label: "Link do obrazu:" %>
        <%= f.button :submit, 'Aktualizuj opowiadanie' %>
    <% end %>
  </div>

</div>
