<div class="main">
   <div class="create">
    <%= simple_form_for(@tag) do |f| %>

       <%= f.input :title, label: "Tytuł opowiadania:" %> <br>
       <%= f.input :image, label: "Link do obrazu:" %>
       <%= f.button :submit, 'Utwórz opowiadanie' %>
        <% end %>
  </div>

</div>
