<div class="contact">
  <div class="main">
      <br>
    <div class="dane col-xs-12 col-sm-12 col-md-4 col-lg-4">
      <h3>Autor opowiadań:</h3>
      <p>Paweł Maniciak</p>
      <p>
        <a href="https://www.facebook.com/paweljanm"><img class="face" src="http://spteresin.lsos.pl/images/logo_fb.png"></a>
      </p>
      <p>Email: paweljanm@gmail.com</p>
    </div>
    <div class="col-md-1"></div>
    <div class="dane col-xs-12 col-sm-12 col-md-4 col-lg-4">
      <h3>Autorka strony:</h3>
      <p>Marta Mościcka</p>
      <p>
        <a href="https://www.facebook.com/mortidium"><img class="face" src="http://spteresin.lsos.pl/images/logo_fb.png"></a>
      </p>
      <p>Email: martamoscicka1@gmail.com</p>
    </div>
  </div>

</div>
