<div class="edit">
  <div class="main">

    <%= simple_form_for(@post) do |f| %>

        <%= f.input :title %> <br>
        <%= f.input :content, as: :wysihtml5 %>
        <%= f.button :submit %>

    <% end %>
  </div>

</div>