<div class="home">
  <div class="main">

    <h1>Na tej stronie Paweł zamieszcza swoje opowiadania.</h1>

    <h2>Podejdź, poszukujący, wybierz i przeczytaj:
     <br> <br>
    <a class="btn btn-success" style="padding 10px" href="/posts">Zobacz najnowsze rozdziały <span class="glyphicon glyphicon-chevron-right"></span> </a>
      <a class="btn btn-success" style="padding 10px" href="/tags">Zobacz wszystkie opowiadania <span class="glyphicon glyphicon-chevron-right"></span> </a>
        </h2>
      <br>
	<img class="mainimage" src="http://zapisz.net/images/426_krasnal.jpg" />

  </div>

</div>
