<div class="home">
  <div class="main">
    <br>
    <h1>Na tej stronie Paweł zamieszcza swoje opowiadania.</h1>

    <h2>Podejdź, poszukujący, wybierz i przeczytaj:

    <a class="btn btn-success" style="padding 10px" href="/posts">Zobacz najnowsze rozdziały <span class="glyphicon glyphicon-chevron-right"></span> </a>
      <a class="btn btn-success" style="padding 10px" href="/tags">Zobacz wszystkie opowiadania <span class="glyphicon glyphicon-chevron-right"></span> </a>
        </h2>
      <br>
	<img class="mainimage" src="http://41.media.tumblr.com/19dab790ad75d9a540757a63aa35d1d4/tumblr_o52nr2ep5l1sbfmvfo1_1280.jpg" alt="krasnal.jpg" />

  </div>

</div>
