<div class="home">
  <div class="main">
    <br>
    <h1>To jest blog Paweła</h1>

    <h2>Tu będzie opis bloga </h2>

    <h3>Pawełeł będzie tu wrzucał opowiadania</h3>

   <img class="mainimage" src="https://photos-6.dropbox.com/t/2/AAAg7wwvopcbDkVWk8rlCPBZPFMT3S0vRQd1wYDTDTx6bA/12/51610451/jpeg/32x32/1/_/1/2/krasnal.jpg/ENmd3icYzh0gAigC/QY7wYSZbeTx1M2bbrHaTtanhERhlKJzukqB_PNSSO3U?size=1280x960&size_mode=3">

    <p>Zdjęcia też mogą być</p>
  </div>

</div>
