<div class="home">
  <div class="main">
    <br><br>
    <h1>Na tej stronie Paweł zamieszcza swoje opowiadania.</h1>

    <h2>Podejdź, poszukujący, wybierz i przeczytaj:
     <br> <br>
    <a class="btn btn-success" style="padding 10px" href="/posts">Zobacz najnowsze rozdziały <span class="glyphicon glyphicon-chevron-right"></span> </a>
      <a class="btn btn-success" style="padding 10px" href="/tags">Zobacz wszystkie opowiadania <span class="glyphicon glyphicon-chevron-right"></span> </a>
        </h2>
      <br>
	<img class="mainimage" src="http://40.media.tumblr.com/ba848d4b6a3b5eed5383ac544aafc82e/tumblr_o64nv1A0AJ1sbfmvfo1_1280.jpg" alt="krasnal.jpg" />

  </div>

</div>
