<div class="home">
  <div class="main">
    <br>
    <h1>To jest blog Paweła</h1>

    <h2>Tu będzie opis bloga </h2>

    <h3>Pawełeł będzie tu wrzucał opowiadania</h3>

    <img src="https://z-1-scontent-frt3-1.xx.fbcdn.net/hphotos-xap1/v/t1.0-9/1930714_1017981448282477_8903652979125751123_n.jpg?oh=9d7f62a9afbb108d49eb5d4605f9c1d6&oe=578CB0C3">

    <p>Zdjęcia też mogą być</p>
  </div>

</div>
