<div class="main">
    <div class="row">

    <% @posts.each do |post|%>
          <div class="col-md-6">
            <div class="post">
              <h2 class="title"><%= post.title %></h2>
              <p class="time"> <%=post.created_at.to_date%></p>
              <p class="content"><a class="btn btn-primary btn-lg" href="<%= post_path(post)%>">Zobacz</a></p>
            </div>
          </div>

    <% end %>
    </div>
  </div>

