/* Sandstone
 * Bootswatch
 *= require_self
 *= require sandstone/loader
 *= require sandstone/bootswatch
 *= require bootstrap-wysihtml5
*/

/*
body {
     background-image: url("https://photos-6.dropbox.com/t/2/AAAg7wwvopcbDkVWk8rlCPBZPFMT3S0vRQd1wYDTDTx6bA/12/51610451/jpeg/32x32/1/_/1/2/krasnal.jpg/ENmd3icYzh0gAigC/QY7wYSZbeTx1M2bbrHaTtanhERhlKJzukqB_PNSSO3U?size=1280x960&size_mode=3");
    background-color: #cccccc;
    background-repeat: no-repeat;
    background-position: 0px 100px;
    background-size: auto; 
} 
*/

.main {
    padding-top: 20px;
    padding-bottom: 40px;
}
.mainimage{
    width: -moz-available;
    
}
.tag_img {
    width: -moz-available;
    
}
.pag{
    display: block;
    width: 50%;
    margin: 0 auto;
}
.userzy{
    width:100%;
}
.userzy tr td{
    padding:5px;
}
.contact {
    padding-top: 20px;
}

.face {
    width: 100px;
}

.create {
    padding-top: 30px;
}

.edit {
    padding-top: 30px;
}

.post {
    padding: 20px;
    margin-bottom: 10px;
    background-color: rgb(248, 245, 240);
    border-radius: 6px;
}

.dane {
    padding: 20px;
    margin-top: 20px;
    background-color: rgb(248, 245, 240);
    border-radius: 6px;
    border: 1px solid black;

}
.przypis {
    padding: 20px;
    margin-top: 20px;
}

.title {
    padding: 20px;
    font-size: 40px;
    font-weight: bold;
}

.times {
    padding-left: 20px;
}

.content {
    background-color: rgb(248, 245, 240);
    padding: 30px;
}

.content img {
    width: -moz-available;
}

.footer {
    float: right;
    padding-right: 100px;
    padding-bottom: 30px;
    color: #444;
    font-size: 12px;
}
