/* Sandstone
 * Bootswatch
 *= require_self
 *= require sandstone/loader
 *= require sandstone/bootswatch
 *= require bootstrap-wysihtml5
*/

.main {
    padding-top: 20px;
    padding-bottom: 20px;
}

.tag_img {
    width: -moz-available;
}

.contact {
    padding-top: 20px;
}

.face {
    width: 100px;
}

.create {
    padding-top: 30px;
}

.edit {
    padding-top: 30px;
}

.post {
    padding: 20px;
    margin-bottom: 10px;
    background-color: rgb(248, 245, 240);
    border-radius: 6px;
}

.dane {
    padding: 20px;
    margin-top: 20px;
    background-color: rgb(248, 245, 240);
    border-radius: 6px;
    border: 1px solid black;

}
.przypis {
    padding: 20px;
    margin-top: 20px;
}

.title {
    padding: 20px;
    font-size: 40px;
    font-weight: bold;
}

.times {
    padding-left: 20px;
}

.content {
    background-color: rgb(248, 245, 240);
    padding: 30px;
}

.content img {
    width: -moz-available;
}

.footer {
    float: right;
    padding-right: 100px;
    padding-bottom: 30px;
    color: #444;
    font-size: 12px;
}
